In [1]:
import tensorflow as tf 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow import keras
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
print(tf.__version__)

2022-10-12 20:55:22.565719: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-10-12 20:55:22.722375: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-10-12 20:55:22.722392: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-10-12 20:55:22.757377: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-10-12 20:55:23.427031: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-10-12 20:55:23.427094: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-10-12 20:55:23.427102: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

2.10.0

In [2]:
data=pd.read_csv('df_train.csv') #учебный сет
data

,id,Analytical thinking,Systemic thinking,Adaptability,Focus,period_1,period_2,period_3,period_4
0,10884,4.0,4.0,4.0,4.0,7.0,14.0,28.0,10.0
1,10106,5.0,4.0,5.0,5.0,21.0,21.0,12.0,8.0
2,10438,6.0,5.0,5.0,5.0,62.0,45.0,63.0,38.0
3,10130,5.0,4.0,5.0,5.0,26.0,28.0,34.0,66.0
4,10667,4.0,5.0,5.0,5.0,58.0,70.0,194.0,35.0
...,...,...,...,...,...,...,...,...,...
675,10563,5.0,4.0,5.0,4.0,10.0,2.0,14.0,4.0
676,10386,5.0,4.0,5.0,5.0,1.0,14.0,24.0,1.0
677,10675,5.0,4.0,5.0,4.0,4.0,17.0,23.0,12.0
678,10366,4.0,4.0,4.0,4.0,10.0,44.0,45.0,38.0
679,10340,4.0,4.0,4.0,4.0,8.0,14.0,1.0,2.0

In [3]:
data['Analytical thinking'].value_counts()

4.0    417
5.0    209
3.0     36
6.0     14
1.0      4
Name: Analytical thinking, dtype: int64

In [4]:
data['Systemic thinking'].value_counts()

4.0    491
5.0    124
3.0     51
6.0     10
1.0      4
Name: Systemic thinking, dtype: int64

In [5]:
data['Adaptability'].value_counts()

5.0    318
4.0    308
3.0     36
6.0     15
1.0      2
2.0      1
Name: Adaptability, dtype: int64

In [6]:
data['Focus'].value_counts()

4.0    400
5.0    244
3.0     29
6.0      3
1.0      3
2.0      1
Name: Focus, dtype: int64

In [7]:
datatest=pd.read_csv('dataprefil.csv')# сет который надо вычислить.
datatest

,id,Analytical thinking,Systemic thinking,Adaptability,Focus,period_1,period_2,period_3,period_4
0,10199,0,0,0,0,2.000000,2.000000,3.000000,2.000000
1,10539,0,0,0,0,1.000000,9.000000,15.000000,17.000000
2,10174,0,0,0,0,12.516807,28.000000,31.000000,20.000000
3,10465,0,0,0,0,15.000000,18.000000,32.000000,18.000000
4,10066,0,0,0,0,8.000000,23.000000,16.000000,6.000000
...,...,...,...,...,...,...,...,...,...
288,10433,0,0,0,0,18.000000,7.000000,1.000000,17.054264
289,10893,0,0,0,0,21.000000,52.000000,34.000000,20.000000
290,10909,0,0,0,0,12.516807,16.694118,22.843866,1.000000
291,10889,0,0,0,0,6.000000,2.000000,5.000000,1.000000
292,10613,0,0,0,0,2.000000,2.000000,9.000000,8.000000

In [8]:
datatest.isna().sum()

id                     0
Analytical thinking    0
Systemic thinking      0
Adaptability           0
Focus                  0
period_1               0
period_2               0
period_3               0
period_4               0
dtype: int64

In [9]:
datatest['sum']=datatest['period_1']+datatest['period_2']+datatest['period_3']+datatest['period_4']
datatest['quad']=datatest['period_1'] * datatest['period_1'] + datatest['period_2'] * datatest['period_2'] + datatest['period_3'] * datatest['period_3'] + datatest['period_4'] * datatest['period_4']
datatest['medan']=(datatest['period_1']+datatest['period_2']+datatest['period_3']+datatest['period_4'])/4
datatest['sqr_median']=np.sqrt(datatest['medan'])
datatest['sqr_sum']=np.sqrt(datatest['sum'])

In [10]:
datatest

,id,Analytical thinking,Systemic thinking,Adaptability,Focus,period_1,period_2,period_3,period_4,sum,quad,medan,sqr_median,sqr_sum
0,10199,0,0,0,0,2.000000,2.000000,3.000000,2.000000,9.000000,21.000000,2.250000,1.500000,3.000000
1,10539,0,0,0,0,1.000000,9.000000,15.000000,17.000000,42.000000,596.000000,10.500000,3.240370,6.480741
2,10174,0,0,0,0,12.516807,28.000000,31.000000,20.000000,91.516807,2301.670451,22.879202,4.783221,9.566442
3,10465,0,0,0,0,15.000000,18.000000,32.000000,18.000000,83.000000,1897.000000,20.750000,4.555217,9.110434
4,10066,0,0,0,0,8.000000,23.000000,16.000000,6.000000,53.000000,885.000000,13.250000,3.640055,7.280110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,10433,0,0,0,0,18.000000,7.000000,1.000000,17.054264,43.054264,664.847906,10.763566,3.280787,6.561575
289,10893,0,0,0,0,21.000000,52.000000,34.000000,20.000000,127.000000,4701.000000,31.750000,5.634714,11.269428
290,10909,0,0,0,0,12.516807,16.694118,22.843866,1.000000,53.054791,958.206236,13.263698,3.641936,7.283872
291,10889,0,0,0,0,6.000000,2.000000,5.000000,1.000000,14.000000,66.000000,3.500000,1.870829,3.741657
292,10613,0,0,0,0,2.000000,2.000000,9.000000,8.000000,21.000000,153.000000,5.250000,2.291288,4.582576

In [11]:
data = data.rename(columns={'Systemic thinking': 'Systemic_thinking', 'Analytical thinking': 'Analytical_thinking', })

In [12]:
data

,id,Analytical_thinking,Systemic_thinking,Adaptability,Focus,period_1,period_2,period_3,period_4
0,10884,4.0,4.0,4.0,4.0,7.0,14.0,28.0,10.0
1,10106,5.0,4.0,5.0,5.0,21.0,21.0,12.0,8.0
2,10438,6.0,5.0,5.0,5.0,62.0,45.0,63.0,38.0
3,10130,5.0,4.0,5.0,5.0,26.0,28.0,34.0,66.0
4,10667,4.0,5.0,5.0,5.0,58.0,70.0,194.0,35.0
...,...,...,...,...,...,...,...,...,...
675,10563,5.0,4.0,5.0,4.0,10.0,2.0,14.0,4.0
676,10386,5.0,4.0,5.0,5.0,1.0,14.0,24.0,1.0
677,10675,5.0,4.0,5.0,4.0,4.0,17.0,23.0,12.0
678,10366,4.0,4.0,4.0,4.0,10.0,44.0,45.0,38.0
679,10340,4.0,4.0,4.0,4.0,8.0,14.0,1.0,2.0

In [13]:
data

,id,Analytical_thinking,Systemic_thinking,Adaptability,Focus,period_1,period_2,period_3,period_4
0,10884,4.0,4.0,4.0,4.0,7.0,14.0,28.0,10.0
1,10106,5.0,4.0,5.0,5.0,21.0,21.0,12.0,8.0
2,10438,6.0,5.0,5.0,5.0,62.0,45.0,63.0,38.0
3,10130,5.0,4.0,5.0,5.0,26.0,28.0,34.0,66.0
4,10667,4.0,5.0,5.0,5.0,58.0,70.0,194.0,35.0
...,...,...,...,...,...,...,...,...,...
675,10563,5.0,4.0,5.0,4.0,10.0,2.0,14.0,4.0
676,10386,5.0,4.0,5.0,5.0,1.0,14.0,24.0,1.0
677,10675,5.0,4.0,5.0,4.0,4.0,17.0,23.0,12.0
678,10366,4.0,4.0,4.0,4.0,10.0,44.0,45.0,38.0
679,10340,4.0,4.0,4.0,4.0,8.0,14.0,1.0,2.0

In [14]:
data['sum']=data['period_1']+data['period_2']+data['period_3']+data['period_4']
data['quad']=data['period_1'] * data['period_1'] + data['period_2'] * data['period_2'] + data['period_3'] * data['period_3'] + data['period_4'] * data['period_4']
data['medan']=(data['period_1']+data['period_2']+data['period_3']+data['period_4'])/4
data['sqr_median']=np.sqrt(data['medan'])
data['sqr_sum']=np.sqrt(data['sum'])

## Нейросеть pred_Analytical_thinking .

In [15]:
X = data.drop(['Analytical_thinking','Systemic_thinking','Adaptability', 'Focus','id'], axis = 1)
y = data['Analytical_thinking']





X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [16]:
model_Analytical_thinking = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(9,)),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(7)
])

2022-10-12 20:55:24.975772: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-10-12 20:55:24.975808: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2022-10-12 20:55:24.975838: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:169] retrieving CUDA diagnostic information for host: gennalll-desktop
2022-10-12 20:55:24.975849: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:176] hostname: gennalll-desktop
2022-10-12 20:55:24.975965: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:200] libcuda reported version is: NOT_FOUND: was unable to find libcuda.so DSO loaded into this program
2022-10-12 20:55:24.976011: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:204] kernel reported version is: 340.108.0
2022-10-12 20:55:24.976326: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [17]:
model_Analytical_thinking.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [18]:
model_Analytical_thinking.fit(X_train, y_train,batch_size=124, epochs=15)

Epoch 1/15
5/5 [==============================] - 1s 181ms/step - loss: 3.9189 - accuracy: 0.4467
Epoch 2/15
5/5 [==============================] - 1s 188ms/step - loss: 2.5156 - accuracy: 0.4669
Epoch 3/15
5/5 [==============================] - 1s 185ms/step - loss: 1.7383 - accuracy: 0.5846
Epoch 4/15
5/5 [==============================] - 1s 193ms/step - loss: 1.0738 - accuracy: 0.6250
Epoch 5/15
5/5 [==============================] - 1s 187ms/step - loss: 0.9441 - accuracy: 0.6250
Epoch 6/15
5/5 [==============================] - 1s 197ms/step - loss: 0.9480 - accuracy: 0.6250
Epoch 7/15
5/5 [==============================] - 1s 221ms/step - loss: 0.9175 - accuracy: 0.6250
Epoch 8/15
5/5 [==============================] - 1s 200ms/step - loss: 0.9190 - accuracy: 0.6250
Epoch 9/15
5/5 [==============================] - 1s 177ms/step - loss: 0.9173 - accuracy: 0.6250
Epoch 10/15
5/5 [==============================] - 1s 178ms/step - loss: 0.9287 - accuracy: 0.6250
Epoch 11/15
5/5 [==============================] - 1s 186ms/step - loss: 0.9300 - accuracy: 0.6250
Epoch 12/15
5/5 [==============================] - 1s 178ms/step - loss: 0.9131 - accuracy: 0.6250
Epoch 13/15
5/5 [==============================] - 1s 189ms/step - loss: 0.9114 - accuracy: 0.6250
Epoch 14/15
5/5 [==============================] - 1s 177ms/step - loss: 0.9161 - accuracy: 0.6250
Epoch 15/15
5/5 [==============================] - 1s 180ms/step - loss: 0.9200 - accuracy: 0.6250

## Тест модели

In [19]:
test_loss, test_acc = model_Analytical_thinking.evaluate(X_test,  y_test, verbose=3)

print('\nTest accuracy:', test_acc)

Test accuracy: 0.5661764740943909

# Предсказание

In [20]:
X_model_Analytical_thinking = datatest.drop(['Analytical thinking','Systemic thinking','Adaptability', 'Focus','id'], axis = 1)
pred_Analytical_thinking = model_Analytical_thinking.predict(X_model_Analytical_thinking)
pred_Analytical_thinking
pred_Analytical_thinking_mass=[]
for i in pred_Analytical_thinking:
    pred_Analytical_thinking_mass.append(np.argmax(i+1))
pred_Analytical_thinking_mass

10/10 [==============================] - 0s 26ms/step

[4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4]

## Нейросеть pred_Systemic thinking .

In [21]:
X = data.drop(['Analytical_thinking','Systemic_thinking','Adaptability', 'Focus','id'], axis = 1)
y = data['Systemic_thinking']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
model_Systemic_thinking = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(9,)),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(7)
])

In [23]:
model_Systemic_thinking.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [24]:
model_Systemic_thinking.fit(X_train, y_train,batch_size=124, epochs=10)

Epoch 1/10
5/5 [==============================] - 1s 201ms/step - loss: 4.6265 - accuracy: 0.4743
Epoch 2/10
5/5 [==============================] - 1s 189ms/step - loss: 2.0454 - accuracy: 0.7279
Epoch 3/10
5/5 [==============================] - 1s 190ms/step - loss: 1.2914 - accuracy: 0.6158
Epoch 4/10
5/5 [==============================] - 1s 193ms/step - loss: 1.0193 - accuracy: 0.7279
Epoch 5/10
5/5 [==============================] - 1s 196ms/step - loss: 0.9683 - accuracy: 0.7279
Epoch 6/10
5/5 [==============================] - 1s 189ms/step - loss: 0.8722 - accuracy: 0.7279
Epoch 7/10
5/5 [==============================] - 1s 185ms/step - loss: 0.8702 - accuracy: 0.7279
Epoch 8/10
5/5 [==============================] - 1s 190ms/step - loss: 0.8527 - accuracy: 0.7279
Epoch 9/10
5/5 [==============================] - 1s 198ms/step - loss: 0.8450 - accuracy: 0.7279
Epoch 10/10
5/5 [==============================] - 1s 178ms/step - loss: 0.8426 - accuracy: 0.7279

In [25]:
test_loss, test_acc = model_Systemic_thinking.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)

5/5 - 0s - loss: 0.8699 - accuracy: 0.6985 - 238ms/epoch - 48ms/step

Test accuracy: 0.6985294222831726

In [26]:
X_model_Systemic_thinking = datatest.drop(['Analytical thinking','Systemic thinking','Adaptability', 'Focus','id'], axis = 1)
pred_Systemic_thinking = model_Systemic_thinking.predict(X_model_Systemic_thinking)
pred_Systemic_thinking
pred_Systemic_thinking_mass=[]
for i in pred_Systemic_thinking:
    pred_Systemic_thinking_mass.append(np.argmax(i+1))
pred_Systemic_thinking_mass

10/10 [==============================] - 0s 26ms/step

[4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4]

## Нейросеть pred_Adaptability .

In [27]:
X = data.drop(['Analytical_thinking','Systemic_thinking','Adaptability', 'Focus','id'], axis = 1)
y = data['Adaptability']


X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [28]:
model_Adaptability = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(9,)),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(7)
])

In [29]:
model_Adaptability.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [30]:
model_Adaptability.fit(X_train, y_train,batch_size=124, epochs=5)

Epoch 1/5
5/5 [==============================] - 1s 190ms/step - loss: 3.6529 - accuracy: 0.3824
Epoch 2/5
5/5 [==============================] - 1s 186ms/step - loss: 3.5865 - accuracy: 0.4743
Epoch 3/5
5/5 [==============================] - 1s 187ms/step - loss: 2.5675 - accuracy: 0.4743
Epoch 4/5
5/5 [==============================] - 1s 176ms/step - loss: 2.0800 - accuracy: 0.4614
Epoch 5/5
5/5 [==============================] - 1s 177ms/step - loss: 1.4841 - accuracy: 0.4651

In [31]:
test_loss, test_acc = model_Adaptability.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)

5/5 - 0s - loss: 1.8545 - accuracy: 0.4412 - 235ms/epoch - 47ms/step

Test accuracy: 0.44117647409439087

In [32]:
X_model_Adaptability = datatest.drop(['Analytical thinking','Systemic thinking','Adaptability', 'Focus','id'], axis = 1)
pred_Adaptability = model_Adaptability.predict(X_model_Adaptability)
pred_Adaptability
pred_Adaptability_mass=[]
for i in pred_Adaptability:
    pred_Adaptability_mass.append(np.argmax(i+1))
pred_Adaptability_mass

10/10 [==============================] - 0s 25ms/step

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

## Нейросеть pred_Focus .¶

In [33]:
X = data.drop(['Analytical_thinking','Systemic_thinking','Adaptability', 'Focus','id'], axis = 1)
y = data['Focus']



X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [34]:
model_Focus = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(9,)),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(3000, activation='relu'),
    tf.keras.layers.Dense(3000, activation='sigmoid'),
    tf.keras.layers.Dense(7)
])

In [35]:
model_Focus.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [36]:
model_Focus.fit(X_train, y_train,batch_size=124, epochs=5)

Epoch 1/5
5/5 [==============================] - 1s 191ms/step - loss: 3.3698 - accuracy: 0.4393
Epoch 2/5
5/5 [==============================] - 1s 190ms/step - loss: 1.7637 - accuracy: 0.4632
Epoch 3/5
5/5 [==============================] - 1s 178ms/step - loss: 1.3016 - accuracy: 0.4577
Epoch 4/5
5/5 [==============================] - 1s 178ms/step - loss: 1.1739 - accuracy: 0.5331
Epoch 5/5
5/5 [==============================] - 1s 174ms/step - loss: 1.1302 - accuracy: 0.5184

In [37]:
test_loss, test_acc = model_Focus.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)

5/5 - 0s - loss: 1.0572 - accuracy: 0.3529 - 235ms/epoch - 47ms/step

Test accuracy: 0.3529411852359772

In [38]:
X_model_Focus = datatest.drop(['Analytical thinking','Systemic thinking','Adaptability', 'Focus','id'], axis = 1)
pred_Focus = model_Focus.predict(X_model_Focus)
pred_Focus
pred_Focus_mass=[]
for i in pred_Focus:
    pred_Focus_mass.append(np.argmax(i+1))
pred_Focus_mass

10/10 [==============================] - 0s 27ms/step

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

# Формируем ответ.

In [39]:
datapre=pd.read_csv('sample_solution.csv')
datapre

        id  Analytical thinking  Systemic thinking  Adaptability  Focus
0    10199                    0                  0             0      0
1    10539                    0                  0             0      0
2    10174                    0                  0             0      0
3    10465                    0                  0             0      0
4    10066                    0                  0             0      0
..     ...                  ...                ...           ...    ...
288  10433                    0                  0             0      0
289  10893                    0                  0             0      0
290  10909                    0                  0             0      0
291  10889                    0                  0             0      0
292  10613                    0                  0             0      0

[293 rows x 5 columns]

In [40]:
datapre['Analytical thinking']=pred_Analytical_thinking_mass
datapre['Systemic thinking']=pred_Systemic_thinking_mass
datapre['Adaptability']=pred_Adaptability_mass
datapre['Focus']=pred_Focus_mass

In [41]:
datapre

        id  Analytical thinking  Systemic thinking  Adaptability  Focus
0    10199                    4                  4             5      5
1    10539                    4                  4             5      5
2    10174                    4                  4             5      5
3    10465                    4                  4             5      5
4    10066                    4                  4             5      5
..     ...                  ...                ...           ...    ...
288  10433                    4                  4             5      5
289  10893                    4                  4             5      5
290  10909                    4                  4             5      5
291  10889                    4                  4             5      5
292  10613                    4                  4             5      5

[293 rows x 5 columns]

In [42]:
datapre.to_csv('dataprenero30.csv',index=False)

In [43]:
datapre['Analytical thinking'].value_counts()

4    293
Name: Analytical thinking, dtype: int64

In [44]:
datapre['Systemic thinking'].value_counts()

4    293
Name: Systemic thinking, dtype: int64

In [45]:
datapre['Adaptability'].value_counts()

5    293
Name: Adaptability, dtype: int64

In [46]:
datapre['Focus'].value_counts()

5    293
Name: Focus, dtype: int64